@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.web-container {
 
}

.nav-menu {
  background-color: #808989;
  color: white;
}

.header-image {
  background-image: url('websiteheader.png');
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.body-contents {
  background-color: white;
  min-height: 100vh;
}

.body-contents-container {
  background-color: #252d3a;
}

.nav, .nav-tabs {
  border: 0px !important;
}
