<ul class='nav nav-tabs'>
  <li [routerLinkActive]="['link-active']">
    <a [routerLink]="['/home']">
      Home
    </a>
  </li>
  <li [routerLinkActive]="['link-active']">
    <a [routerLink]="['/venue']">
      Venue
    </a>
  </li>
  <li [routerLinkActive]="['link-active']">
    <a [routerLink]="['/photos']">
      Photos
    </a>
  </li>
  <li [routerLinkActive]="['link-active']">
    <a [routerLink]="['/rsvp']">
      RSVP
    </a>
  </li>
  <li [routerLinkActive]="['link-active']">
    <a [routerLink]="['/schedule']">
      Schedule
    </a>
  </li>
</ul>
